<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>로그인</title>
</head>
<body>
<h1>로그인</h1>
<form th:action="@{/login}" method="post">
  <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/> <!-- CSRF 토큰 추가 -->

  <label for="userID">User ID:</label>
  <input type="text" id="userID" name="userID" required>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>

  <button type="submit">Login</button>
</form>

<!-- 로그인 오류 메시지를 표시하는 부분 -->
<div th:if="${loginError}" style="color:red;">
  <p th:text="${loginError}"></p>
</div>
</body>
</html>
