#reservation_main{
}

.bg-body-tertiary{
    background-color: #FCF7F3 !important;
}

#Rabonlogo{
    display:block;
    height: 40px;
    object-fit: cover;
}

#Rabonletter{
    display:block;
    float:left;
    height:40px;
    object-fit:cover;
}

.contents_main{
    width:1400px;
    height:850px;
    margin:0 auto;
    margin-top:10px;
    background-color: white; /* #FCF7F3 */
}

.contents_main>#Rabon{
    float:left;
    height:600px;
    margin-top:125px;
    margin-left: 20px;
    object-fit:cover;
    border-radius:5px;
    border: 1px solid #DBD2C9;
}

.contents_main>.main_contents{
    float:left;
    width:900px;
    height:800px;
    border-radius:5px;
    margin-top:25px;
    margin-left:30px;
    background-color:unset; /* #DBD2C9 */
}

.main_contents>.goToNotice{
    float:left;
    width: 390px;
    height: 300px;
    background-color:#FCF7F3;
    margin: 0 auto;
    margin-top:40px;
    margin-left:45px;
    border: 1px solid #DBD2C9;
    border-radius:15px;
    cursor: pointer;
    font-weight: bold;
    color: #231C14;
    font-size: 30px;
}

.goToNotice>label{
    margin-top:20px;
    margin-left:20px;
}

.goToNotice>#bsbell{
    margin-top: 40px;
    margin-left:170px;
}

.main_contents>.goToReserve{
    float:left;
    width: 390px;
    height: 300px;
    background-color:#FCF7F3;
    margin: 0 auto;
    margin-top:40px;
    margin-left:20px;
    border-radius:15px;
    border: 1px solid #DBD2C9;
    cursor: pointer;
    font-weight: bold;
    color: #231C14;
    font-size: 30px;
}

.goToReserve>label{
    margin-top:20px;
    margin-left:20px;
}

.goToReserve>#bscal{
    margin-top: 40px;
    margin-left:170px;
}

.main_contents>.wayTocome{
    float:left;
    width:800px;
    height: 400px;
    background-color:#FCF7F3;
    margin: 0 auto;
    margin-top:20px;
    margin-left:45px;
    border-radius:15px;
    border: 1px solid #DBD2C9;
}

.wayTocome>label{
    font-size:30px;
    margin-top:20px;
    margin-left:30px;
    font-weight:bold;
    color:#231C14;
}

.wayTocome>.picture{
    float:left;
    width:400px;
    height:300px;
    background-color:white;
    border: 1px solid black;
    margin-top:10px;
    margin-left:30px;
}

.wayTocome>.info{
    float:left;
    width:300px;
    height:300px;
    background-color:white;
    border: 1px solid black;
    margin-top:10px;
    margin-left:30px;
}