#reservation_main{
}

.bg-body-tertiary{
    background-color: #FCF7F3 !important;
}

#Rabonlogo{
    display:block;
    height: 40px;
    object-fit: cover;
}

#Rabonletter{
    display:block;
    float:left;
    height:40px;
    object-fit:cover;
}

.contents_notice{
    width:1400px;
    height:850px;
    margin:0 auto;
    margin-top:20px;
}

.contents_notice>h2{
    font-weight:bold;
    margin-top:30px;
    margin-left:30px;
}

.contents_notice>.notice_contents{
    width:1200px;
    height:740px;
    margin:0 auto;
    margin-top:30px;
    background-color: white;
    border-top:3px solid black;
    border-bottom: 3px solid black;
}
