*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.header{
    width:100%;
    height:130px;
    background-color:#f8f9fa
}

.body{
    width:100%;
    height:700px;
    background-color:#f8f9fa
}

.SignupForm{
    width: 550px;
    height: 700px;
    background-color:#FFFFFF;
    margin: 0 auto;
    border-radius:15px;
    border: 1px solid #6A6A6A;
}

.SignupForm>h2{
    text-align:center;
    font-size:40px;
    margin-top:35px;
    margin-bottom:55px;
}

.SignupForm>input{
    display:block;
    width: 380px;
    height: 48px;
    background-color: #FFFFFF;
    margin:0 auto;
    margin-top:10px;
    border-color: #EAEAEA;
    border-radius: 5px;
    font-size: 15px;
    color:#6A6A6A;
    box-shadow: none;
}

.SignupForm>.Gender{
    width: 380px;
    height: 30px;
    font-size: 15px;
    margin:0 auto;
}

.Gender>.gender{
    font-size: 18px;
    color: #6A6A6A;
}

.Gender>label{
    font-size:17px;
}

.Gender>#male{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 6px;
}

.Gender>#female{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 6px;
}

.SignForm>.CheckBox{
    width:380px;
    height:48px;
    background-color:aqua;
}

.CheckBox>.checkBox{
    display: block;
    float:left;
    width: 20px;
    height: 20px;
    margin-top:5px;
    margin-left:90px;
}

.CheckBox>.checkBoxSpan{
    display: block;
    float:left;
    width:110px;
    height:25px;
    margin-top:2px;
    margin-left:10px;
}

.SignupForm>button{
    display:block;
    width: 380px;
    height: 56px;
    background-color: #363636;
    margin:0 auto;
    margin-top:25px;
    border-color: #363636;
    border-radius: 10px;

    font-size: 15px;
    color:#FFFFFF;
    box-shadow: none;
}

.Signupfooter{
    width:100%;
    height: calc(100vh - 830px);
    background-color:#f8f9fa
}